#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    font-family: Monaco, monospace, sans-serif;
    width: 80%;
    height: 15%;
    text-align: right;
    background-color: white;
}
.nav-link {
    text-decoration: none;
    color: black;
}
#form {
    text-align: center;
    font-family: Monaco, monospace, sans-serif;
    line-height: 2em;
}
#submit {
    background-color: #FA8223;
    border: none;
    cursor: pointer;
    padding: 10px;
}
#about, #how-it-works, #prices {
    margin: auto;
    width: 50%;
    font-family: Monaco, monospace, sans-serif;
}
#header-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%
}

#pricing-containers {
    display: flex;
}

.pricing-child {
    flex: 1;
    margin-right: 20px;
    background-color: white;
    border-style: solid;
    text-align: center;
    line-height: 2;
}

body {
    background-color: #FEFEB1;
    padding-top: 10%;
}
@media (max-width: 700px) {
    #about-imgs {
        display: flex;
        flex-direction: column;
    }
}